html,
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
